<footer class="footer footer-style-4">
<div class="container">
<div class="widget-wrapper">
<div class="row">
<div class="col-xl-3 col-lg-4 col-md-6">
  <div class="footer-widget wow fadeInUp" data-wow-delay=".3s">
    <h6>Contact us on social:</h6>
  <ul class="socials">
  <li> <a href="https://www.facebook.com/Seamlex-Dot-Net-110287521514474"> <i class="lni lni-facebook-filled"></i> </a> </li>
  <li> <a href="https://twitter.com/seamlex_dot_net"> <i class="lni lni-twitter-filled"></i> </a> </li>
  <li> <a href="https://www.instagram.com/seamlexdotnet/"> <i class="lni lni-instagram-filled"></i> </a> </li>
  <li> <a href="https://www.linkedin.com/company/seamlex"> <i class="lni lni-linkedin-original"></i> </a> </li>
  </ul>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6">
  <div class="footer-widget wow fadeInUp" data-wow-delay=".2s">
    <img src="/assets/img/logo/seamlex-logo.gif" sizes="" alt="">
  </div>
  </div>
  
</div>
</div>

<div class="copyright-wrapper wow fadeInUp" data-wow-delay=".2s">
<p>Copyright <a href="https://seamlex.net" rel="nofollow" target="_blank">seamlex.net</a> Built-with <a href="https://dotnet.microsoft.com/en-us/" rel="nofollow" target="_blank">Microsoft .NET Core and lots of love.</a></p>
</div>
</div>
</footer>
