@using Microsoft.AspNetCore.Identity
@inject SignInManager<xx.Areas.Identity.Models.User> SignInManager
@inject UserManager<xx.Areas.Identity.Models.User> UserManager

@if (SignInManager.IsSignedIn(User))
{
<li class="nav-item">
<a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
</li>
<li class="nav-item">
<a  class="page-scroll" asp-area="Identity" asp-page="/Account/Logout" title="Logout">Logout</a>
</li>
}
else
{
<li class="nav-item">
<a asp-area="Identity" asp-page="/Account/Register" title="Register">Register</a>
</li>
<li class="nav-item">
<a  class="page-scroll" asp-area="Identity" asp-page="/Account/Login" title="Login">Login</a>
</li>
}
