@{
    ViewData["Title"] = "Enquiry Received";
}

<section id="contact" class="contact-section contact-style-3">
<div class="hero-section hero-style-5 img-bg" style="background-image: url('/assets/img/hero/hero-5/hero-bg.svg')">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="hero-content-wrapper">
<h2 class="mb-30 wow fadeInUp" data-wow-delay=".2s">Thank you for your enquiry.</h2>
<p class="mb-30 wow fadeInUp" data-wow-delay=".4s">We will contact you shortly.</p>
<a href="/" class="button button-lg radius-50 wow fadeInUp" data-wow-delay=".6s">Click Here to Return <i class="lni lni-chevron-right"></i> </a>
</div>
</div>
<div class="col-lg-6 align-self-end">
<div class="hero-image wow fadeInUp" data-wow-delay=".5s">
<img src="/assets/img/hero/hero-5/_banner1xl.png" alt="">
</div>
</div>
</div>
</div>
</div>
</section>


